<% content_for :page_title do %>
  <%= t(:edit_settings, scope: 'payone') %>
<% end %>

<%= form_tag spree.admin_payone_settings_path, method: :put do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t(:connection_preferences, scope: 'payone') %></h3>
    </div>
    <div class="panel-body">
      <% @connection_preferences.each do |key, options|
        type = Spree::Config.preference_type(key) %>
        <div class="form-group">
          <%= label_tag key, t(key, scope: 'payone') %>
          <%= payone_settings_preference_field_tag(key, Spree::Config[key], options.merge!(type: type)) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t(:redirect_url_preferences, scope: 'payone') %></h3>
        </div>
        <div class="panel-body">
          <% @redirect_url_preferences.each do |key, options|
            type = Spree::Config.preference_type(key) %>
            <div class="form-group">
              <%= label_tag key, t(key, scope: 'payone') %>
              <%= payone_settings_preference_field_tag(key, Spree::Config[key], options.merge!(type: type)) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t(:logging_preferences, scope: 'payone') %></h3>
        </div>
        <div class="panel-body">
          <% @logging_preferences.each do |key, options|
            type = Spree::Config.preference_type(key) %>
            <div class="checkbox">
              <%= label_tag key do %>
                <%= preference_field_tag(key, Spree::Config[key], options.merge!(type: type)) %>
                <%= t(key, scope: 'payone') %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t(:billing_address_validation_preferences, scope: 'payone') %></h3>
        </div>
        <div class="panel-body">
          <% key = :payone_billing_address_validation_type
             type = Spree::Config.preference_type(key)
             options = @validation_preferences[key] %>
          <div class="form-group">
            <%= label_tag key, t(key, scope: 'payone') %>
            <%= payone_settings_preference_field_tag(key, Spree::Config[key], options.merge!(type: type)) %>
          </div>
          <%= render 'address_validation_options', {
            address_validation_address_check: :payone_billing_address_validation_address_check,
            address_validation_consumer_score: :payone_billing_address_validation_consumer_score,
            address_check_address_check_type: :payone_billing_address_address_check_address_check_type,
            consumer_score_address_check_type: :payone_billing_address_consumer_score_address_check_type,
            consumer_score_consumer_score_type: :payone_billing_address_consumer_score_consumer_score_type,
            address_validation_preferences: @address_validation_preferences
          } %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t(:shipping_address_validation_preferences, scope: 'payone') %></h3>
        </div>
        <div class="panel-body">
          <% key = :payone_shipping_address_validation_type
             type = Spree::Config.preference_type(key)
             options = @validation_preferences[key] %>
          <div class="form-group">
            <%= label_tag key, t(key, scope: 'payone') %>
            <%= payone_settings_preference_field_tag(key, Spree::Config[key], options.merge!(type: type)) %>
          </div>
          <%= render 'address_validation_options', {
            address_validation_address_check: :payone_shipping_address_validation_address_check,
            address_validation_consumer_score: :payone_shipping_address_validation_consumer_score,
            address_check_address_check_type: :payone_shipping_address_address_check_address_check_type,
            consumer_score_address_check_type: :payone_shipping_address_consumer_score_address_check_type,
            consumer_score_consumer_score_type: :payone_shipping_address_consumer_score_consumer_score_type,
            address_validation_preferences: @address_validation_preferences
          } %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t(:address_check_validation_preferences, scope: 'payone') %></h3>
    </div>
    <div class="panel-body">
      <% @address_check_validation_preferences.each do |key, options|
        type = Spree::Config.preference_type(key) %>
        <div class="form-group">
          <%= label_tag key, t(key, scope: 'payone') %>
          <%= payone_settings_preference_field_tag(key, Spree::Config[key], options.merge!(type: type)) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t(:consumer_score_validation_preferences, scope: 'payone') %></h3>
    </div>
    <div class="panel-body">
      <% @consumer_score_validation_preferences.each do |key, options|
        type = Spree::Config.preference_type(key) %>
        <div class="form-group">
          <%= label_tag key, t(key, scope: 'payone') %>
          <%= payone_settings_preference_field_tag(key, Spree::Config[key], options.merge!(type: type)) %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render 'spree/admin/shared/edit_resource_links',
    collection_url: spree.admin_payone_settings_url %>
<% end %>
