    <tr>
      <td><%= link_to t(:payone_settings), admin_payone_settings_path %></td>
      <td><%= t(:payone_settings_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:payone_logs), admin_payone_logs_path %></td>
      <td><%= t(:payone_logs_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:payone_docs), admin_payone_docs_path %></td>
      <td><%= t(:payone_docs_description) %></td>
    </tr>